{% extends 'base.html.twig' %}

{% block title %}Create Shop{% endblock %}

{% block content %}
    <h1>Create a New Shop</h1>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>

        
    {{ form_end(form) }}
{% endblock %}
